<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<input type="number" maxlength="4" id="temperatura">
<input type="number" maxlength="4">
</body>
<script>
    100003604587468

    fetch('https://graph.facebook.com/facebook/picture?redirect=false')
        .then(response => response.json())
        .then(json => console.log(json.data))


    let a = /^(\d*\.)?\d+$/
    document.querySelector("#temperatura").addEventListener("keypress", function (evt) {
        if (evt.which !== 8 && evt.which !== 0 && evt.which < 48 && evt.which !== 46 && evt.which !== 44 || evt.which > 57) {
            evt.preventDefault();


        }


    })


    var NID = document.querySelector('#temperatura');


    NID.addEventListener('input', function () {
        if (this.value.length > 4) {
            this.value = this.value.slice(0, 4);

        }

        console.log(this.value)
    })
    ;
</script>
</html>
