.card {
    min-width: 20%;
    max-width: 100%;
    height: 200px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    margin: 12px;
    padding: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Estilos CardRol */

.cardRol {
    position: absolute;
    min-width: 200px;
    max-width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    color: #fff;
    font-size: 32pt;
    border: none;
    border-radius:100px;
    margin: 12px 0;

}

.foto1{
    position: relative;
margin-left: 25px;
margin-top: 30px;
width: 150px;
  margin-bottom: 30px;
cursor: pointer;


}
.foto1:hover {
   /* background: rgba(0, 0, 0, 0.70) !important;*/
    cursor: pointer;
  opacity: 0.4;
  
   
}

#cardf {
    position: relative;
    background-color: #78BECE;
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 18pt;
    border: none;
    border-radius:100px;
    cursor: pointer;

}

#cardfSST2 {
    position: relative;
    background-color: #707070;
    width: 115%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 110%;
    border: none;
    border-radius:100px;
    cursor: pointer;

}

#cardfSST3 {
    position: relative;
    background-color: #006164;
    width: 120%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 110%;
    border: none;
    border-radius:100px;
    cursor: pointer;

}

#cardf:hover{
    opacity: 0.7;
}
#cardfSST2:hover{
    opacity: 0.7;
}
#cardfSST3:hover{
    opacity: 0.7;
}



.cardRol h5 {
    font-weight: bold;
    margin: 15px 0;
}

.cardRol:hover {
   /* background: rgba(0, 0, 0, 0.70) !important;*/
    cursor: pointer;
    background-size: 65%!important;
    box-shadow: 2px 2px 100px #999;
   
}


/* Estilos Card Info */

.cardInfo {
    min-width: 30%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    color: #fff;
    border: none;
    border-radius: 15px;
    margin: 12px;
}

.topCardInfo {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 24pt;
}

.topCardInfo h4 {
    font-size: 24pt;
    font-weight: bold;
    vertical-align: middle;
    margin: 0;
}

.cardInfo h5 {
    font-weight: lighter;
    text-align: center;
}

.cardInfo:hover {
    background: rgba(0, 0, 0, 0.705) !important;
    cursor: pointer;
}


/* Responsive */

@media only screen and (max-width: 900px) {
    .card {
        width: 100%;
    }
    .cardRol {
        width: 100%;
    }
    .topCardInfo {
        flex-direction: column;
        align-items: center;
    }
}